@model blog.Models.Category

@{
    ViewData["Title"] =  Model.CategoryName + " Düzenleme";
    Layout = "_AdminLayout";
}
<div>
    <form asp-action="categoryEdit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CategoryId" />
        <div class="form-group">
            <label>Kategori Adı</label>
            <input asp-for="CategoryName" class="form-control bg-dark text-white" />
            <span asp-validation-for="CategoryName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Kaydet" class="btn btn-primary" />
            <a class="btn btn-info" asp-action="categories" asp-controller="admin">Kategori Listesi</a>
        </div>
    </form>
</div>