@{
    Layout = null;
}
 
<!DOCTYPE html>
 
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/theme/js/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Login - Alper SAPAN</title>
</head>
<body class="bg-dark text-white mt-5">
    <div class="jumbotron bg-dark">
        <div class="col-6 m-auto p-auto bg-dark">
            <h2 class="text-white text-center">Giriş</h2>
        <form action="/account/login" method="post">
            <div class="form-group">
                <label class="text-white">E-Posta</label>
                <input type="text" class="form-control" name="userMail" value="" />
            </div>
            <div class="form-group">
                <label class="text-white">Şifre</label>
                <input type="password" name="userPw" class="form-control" value="" />
            </div>
            <div class="form-group pb-3"> 
                <input type="submit" class="btn btn-light" name="name" value="Giriş" />
            </div>
        </form>
        <a href="/" class="text-white">Anasayfa</a>
        </div>
    </div>
</body>
</html>